<!DOCTYPE html>
<html ng-app="garageJS">
    <head>
        <meta charset="utf-8">
        <title>GarageJS</title>
        <script src="domain.js"></script>
        <script>
            garage = new Garage([[1,5],[3,2]]);
                
            garage.tryToParkVehicle(new Vehicle("ZM - 1345","car"));
            garage.tryToParkVehicle(new Vehicle("K - 1345","car"));
            garage.tryToParkVehicle(new Vehicle("X - 111","car"));
            garage.tryToParkVehicle(new Vehicle("KL - X 52","motobike"));                        garage.tryToParkVehicle(new Vehicle("KL - K 26","motobike"));
            garage.tryToParkVehicle(new Vehicle("LOM - 8970","motobike"));
            garage.tryToParkVehicle(new Vehicle("KL - K 26","motobike"));
            
                
        </script>
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
        <script src="angular.min.js"></script>
        <script data-require="angular-ui-bootstrap@0.11.0" data-semver="0.11.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
        <script src="app.js"></script>        

        
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="style.css" />

    </head>
    <body >
        <header>
            <div>
                <span> <i class="fa fa-bars"></i> Vehicles </span>
                
            </div>
        </header>
        
        <div ng-controller="ListSlotsController as garageJS" class="row">
            <div class="sidebar-left col-md-3">
                <div class="search">
                    <input type="search" ng-model="licensePlate" ng-change="filter()" name="searchByLicensePlate" class="form-control" placeholder="Search for...">
                </div>
                <div class="filter-levels">
                    <h2>Levels</h2>
                    <ul>
                        <li ng-repeat="level in levels"> 
                            <input type="checkbox" ng-model="level.enabled" ng-change="filter()" name="level.checkboxLevel" value="{{$index + 1}}"/> <span> Level {{$index + 1}}</span>
                        </li>
                    </ul>
                </div>
                <div class="filter-type">
                    <h2>Type</h2>
                    <ul>
                        <li>
                            <input type="checkbox" ng-model="checkboxModelType.car" ng-change="filter()" name="checkboxType" /> Cars
                        </li>
                        <li>
                            <input type="checkbox" ng-model="checkboxModelType.motobike" ng-change="filter()" name="checkboxType" /> Motobikes
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content col-md-9" >
                               
                <ul class="vehicles">
                    <h2> {{currentPage}} / {{numPages}} - {{vehicles.length}} vehicles  </h2>

                    <li ng-repeat="vehicle in filteredVehicles" class="">                    
                        <div class="left-side">
                            <p>{{vehicle.licensePlate}}</p>
                            <p>{{vehicle.type}}</p>
                        </div>
                        <div class="right-side">
                            <p>Level {{vehicle.level}}</p>
                            <p>Slot: {{vehicle.slot}}</p>
                        </div>
                    </li>
                </ul>                
                
                <pagination
                    max-size="5" 
                    items-per-page="itemsPerPage"
                    total-items="vehicles.length" 
                    previous-text="<"
                    next-text=">"
                    ng-model="currentPage" 
                    ng-change="pageChanged()"></pagination>
                        
            </div>
        </div>
    </body>
</html> 
